services:
  node-server:
    build:
      context: ./node-server
    ports:
      - "3000:3000"
      - "3005:3005"

  encryption-server:
    build:
      context: ./encryption-server
    ports:
      - "3004:3004"
    environment:
      - NODE_SERVER_HOST=node-server
    depends_on:
      - node-server

  middleware:
    build:
      context: ./middleware
    ports:
      - "3003:3003"
    environment:
      - ENCRYPTION_SERVER_HOST=encryption-server
    depends_on:
      - encryption-server
